.advantages {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    top: 0;
    left: 0;
    background-image: url("../img/triangle-reverse.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.advantages__list {
  @include list-reset;
  background-color: $blue;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
}

.advantages__item {
  margin: 0 auto;
  width: 100%;
  background-color: $grey-decor;

  &--small {
    padding: 8px 35px 10px 35px;

    @media (min-width: $tablet-width) {
      border-bottom: none;
      padding: 22px 0 30px 0;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 50px;
    }
  }

  &--small:not(:last-child) {
    border-bottom: 1px solid $decor-line;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &--full {
    background-color: $blue;
    color: $white;

    @media (min-width: $tablet-width) {
      grid-column: 1/4;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: min-content 1fr;
    }
  }

  &--full-reverse {
    @media (min-width: $tablet-width) {
      grid-column: 1/4;
      grid-row: 3/4;
      display: grid;
      grid-template-columns: 1fr min-content;
    }
  }
}


.advantages__item-wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 50px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 53px 0 51px;
  }
}

.advantages__content {
  padding: 46px 0 23px 0;

  &--full-reverse {
    padding: 20px 0 22px 0;
  }

  @media (min-width: $tablet-width) {
    &--full {
      width: 256px;
      padding: 20px 32px 0;
    }

    &--full-reverse {
      grid-column: 2/3;
      grid-row: 1/2;
      width: 256px;
      padding: 22px 32px 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--full {
      width: 400px;
      padding: 28px 55px 0;
    }

    &--full-reverse {
      width: 400px;
      padding: 32px 50px 0;
    }
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &--full-reverse {
      padding: 0 21px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 75px;
  }
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.advantages__img {
  height: 260px;

  @media (min-width: $tablet-width) {
    height: 256px;
  }
}

.advantages__img-content {
  height: 100%;
  width: 100%;
}
