.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-top: 5px;
  padding-right: 12px;
}

.copyright__icon {
  fill: $black;

  &:hover,
  &:focus {
    fill: $blue;
  }

  &:active {
    fill: $black;
    opacity: 0.3;
  }
}
