.intro__img {
  height: 390px;
  width: 100%;
  background-image: url("../img/index/back-mobile.jpg");
  background-repeat: no-repeat;
}

.intro__img img {
  transform: translate(20px, 80px);
  width: 282px;
  height: 214px;
}

.intro__wrapper {
  margin: 0 20px;
}

.intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 32px 0 24px 0;
}

.intro__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: 14px 0 27px 0;
}
