.intro__img {
  height: 390px;
  background-image: url("../img/index/back-mobile.jpg");
  background-repeat: no-repeat;
}

.intro__wrapper {
  padding: 32px 20px 27px 20px;
}

.intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 44px;
}

.intro__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}
