.main-nav {
  background-color: $blue;
  text-align: center;
  color: $white;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $white;
    color: $black;
  }
}

.main-nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.main-nav__item:last-child {
  padding-bottom: 5px;
}

.main-nav__item:not(:last-child) {
  padding-bottom: 16px;
}

.main-nav__toogle {
  display: block;
  position: relative;
  right: -90%;
  top: 20px;
  width: 20px;
  height: 20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
