.main-nav {
  background-color: $blue;
  text-align: center;
  color: $white;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: $white;
    color: $black;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 49px;
    padding-right: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 76px;
    padding-right: 70px;
  }
}

.main-nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  padding-top: 10px;
  padding-bottom: 6px;
  box-shadow: $box-shadow, $box-shadow-2;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }

  &:last-child {
    padding-bottom: 5px;
    background: $shadow-menu;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 7px;

    @media (min-width: $tablet-width) {
      background: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;

    &:nth-child(3) {
      margin-left: 140px;
    }
  }
}

.main-nav__toggle {
  display: block;
  position: absolute;
  right: 17px;
  top: 16px;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
