.page-footer {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 104px 0 121px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    padding: 36px 0 0;
    flex-direction: row;
    margin: 0 auto;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.page-footer__hashtag {
  padding-bottom: 34px;
}

.page-footer__social {
  padding-bottom: 45px;
}
