.page-header {
  position: relative;
  padding-bottom: 56px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.page-header__logo {
  z-index: 2;
  position: absolute;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    top: 0;
    left: auto;
  }
}
