.page-footer {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    width: 100%;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__hashtag {
  padding-bottom: 34px;
}

.page-footer__social {
  padding-bottom: 45px;
}
