.page-footer {
  margin: 0;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 104px 0 121px;
  }
}

.page-footer__wrapper {
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.page-footer__hashtag {
  padding-bottom: 12px;
}

.page-footer__social {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-right: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
    padding-right: 10px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 25px;
  }
}
