.recommends {
  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

.recommends__list {
  @include list-reset;
  text-align: left;
  color: $black;
  background-color: $white;
  padding: 17px 20px 35px 70px;
  height: 416px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 136px;
    height: 330px;
  }
}


.recommends__item {
  position: relative;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    text-align: center;

    &--house {
      padding-left: 30px;
      padding-right: 60px;
    }

    &--food {
      padding-right: 70px;
    }

    &--souvenir {
      padding-right: 42px;
      order: 3;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: -48px;
    width: 39px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 75px;
      height: 72px;
      top: -90px;
      left: 100px;
    }
  }

  &--house::before {
    background-image: url("../img/icons/index-icons/icon-house.svg");

    @media (min-width: $tablet-width) {
      top: -77px;
      left: 90px;
    }

    @media (min-width: $desktop-width) {
      left: 15px;
    }
  }

  &--souvenir::before {
    background-image: url("../img/icons/index-icons/icon-gift.svg");

    @media (min-width: $tablet-width) {
      top: -78px;
      left: 50px;
    }

    @media (min-width: $desktop-width) {
      left: 135px;
    }
  }

  &--food::before {
    top: -6px;
    left: -50px;
    background-image: url("../img/icons/index-icons/icon-burger.svg");

    @media (min-width: $tablet-width) {
      top: -76px;
      left: 62px;
    }

    @media (min-width: $desktop-width) {
      left: 161px;
    }
  }
}

.recommends__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.recommends__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
