.recommends {
  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

.recommends__list {
  @include list-reset;
  text-align: left;
  color: $black;
  background-color: $white;
  padding: 17px 20px 10px 70px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    padding-top: 136px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 138px;
  }
}


.recommends__item {
  position: relative;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 46px;

    &--house {
      padding-left: 35px;
      padding-right: 35px;
    }

    &--food {
      padding-left: 50px;
      padding-right: 50px;
    }

    &--souvenir {
      padding-left: 30px;
      padding-right: 30px;
      order: 3;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;

    &--house {
      padding-left: 65px;
      padding-right: 70px;
    }

    &--souvenir {
      padding-left: 70px;
      padding-right: 70px;
      order: 3;
    }
  }

  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: -48px;
    width: 39px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 75px;
      height: 72px;
      top: -90px;
      left: 100px;
    }
  }

  &--house::before {
    background-image: url("../img/icons/index-icons/icon-house.svg");

    @media (min-width: $tablet-width) {
      top: -76px;
      left: 50%;
      margin-left: -38px;
    }
  }

  &--souvenir::before {
    background-image: url("../img/icons/index-icons/icon-gift.svg");

    @media (min-width: $tablet-width) {
      top: -78px;
      left: 50%;
      margin-left: -39px;
    }

    @media (min-width: $desktop-width) {
      top: -79px;
    }
  }

  &--food::before {
    top: -6px;
    left: -52px;
    background-image: url("../img/icons/index-icons/icon-burger.svg");

    @media (min-width: $tablet-width) {
      top: -76px;
      left: 50%;
      margin-left: -39px;
    }

    @media (min-width: $desktop-width) {
      top: -74px;
    }
  }
}

.recommends__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    font-size: 21px;
  }
}

.recommends__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
