.social__list {
  @include list-reset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: $blue;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    opacity: 0.3;
    background-color: $blue-active;
  }
}

.social__icon {
  fill: $white;
}
