.video {
  position: relative;
  width: auto;
}

.video__content {
  margin-bottom: 80px;
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 648px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.video__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.video__panel {
  position: absolute;
  width: 280px;
  height: 111px;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba($black, 0.6);
  display: grid;
  grid-template-columns: auto;

  @media (min-width: $tablet-width) {
    bottom: 3px;
    width: 648px;
    height: 93px;
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
