.video {
  width: auto;
}

.video__content {
  @media (min-width: $tablet-width) {
    width: 648px;
    height: 500px;
    object-fit: cover;
  }
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.video__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
