//Width
$mobile-width:320px;

//Colors
$white:rgba(255, 255, 255, 1);
$black:rgba(0, 0, 0, 1);

$blue:rgba(129, 179, 210, 1);
$blue-hover:rgba(102, 158, 192, 1);
$blue-active:rgba(84, 150, 189, 1);

$grey:rgba(242, 242, 242, 1);
$grey-hover:rgba(229, 229, 229, 1);
$grey-active:rgba(213, 213, 213, 1);

$grey-controls:rgba(51, 51, 51, 1);

$video-player:rgba(92, 104, 112, 1);

$grey-decor:rgba(238, 238, 238, 1);
$decor-line:rgda(214, 214, 214, 1);


//Shadows
$shadow-bottom:linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
