.form {
  display: grid;
  grid-template-columns: auto;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 46px;
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  border: none;
  padding: 0;

  &--places,
  &--impression,
  &--contacts {
    border-bottom: 1px solid $grey-hover;
  }

  &--name {
    border-bottom: 1px solid $grey-hover;
    border-top: 1px solid $grey-hover;
    padding-bottom: 5px;
  }

  &--contacts {
    padding: 0 20px 15px;
  }

  &--impression {
    padding: 0 20px 0;
  }

  &--places {
    padding: 0 20px;
  }

  &--emotions {
    padding-top: 3px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;

    &--name {
      grid-column: 2/3;
      padding-left: 69px;
    }

    &--contacts {
      grid-column: 1/3;
      grid-row: 2/3;
      padding-top: 23px;
    }

    &--impression {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &--places {
      grid-column: 1/3;
      grid-row: 3/4;
      padding-top: 10px;
    }

    &--emotions {
      grid-column: 1/3;
      grid-row: 4/5;
      padding-top: 15px;
    }

    &--btn {
      grid-column: 1/3;
      grid-row: 5/6;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      &--name {
        padding-left: 99px;
      }

      &--places {
        padding-top: 12px;
      }
    }
  }
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 21px;
  }

  .form__fieldset--impression & {
    &::before {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        height: 292px;
        width: 1px;
        top: 25px;
        right: -31px;
        background-color: $grey-border-form;
      }

      @media (min-width: $desktop-width) {
        right: -42px;
      }
    }
  }

  &--impression {
    margin-top: 20px;

    @media (min-width: $desktop-width) {
      text-align: left;
      padding-left: 80px;
    }
  }

  &--border {
    text-align: center;
    position: relative;
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      padding: 0 150px;
      margin-bottom: 20px;

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 123px;
        top: 10px;
        right: 0;
        background-color: $grey-border-form;
      }

      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 123px;
        top: 10px;
        left: 0;
        background-color: $grey-border-form;
      }
    }

    @media (min-width: $desktop-width) {
      padding: 0 300px;

      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 280px;
        top: 10px;
        right: 0;
        background-color: $grey-border-form;
      }

      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 280px;
        top: 10px;
        left: 0;
        background-color: $grey-border-form;
      }
    }
  }

  &--border-places {
    margin-top: 15px;

    @media (min-width: $tablet-width) {
      &::before {
        top: 27px;
      }

      &::after {
        top: 27px;
      }
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      padding-left: 20px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 20px;
    }
  }
}

.form__list {
  @include list-reset;
  text-align: start;

  &--name {
    padding-left: 0;
    padding-right: 20px;
  }


  &--radio {
    text-transform: none;
    padding: 15px 0 12px 18px;
  }

  @media (min-width: $tablet-width) {
    &--places {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 26px 0 0 50px;
    }

    &--radio {
      padding-top: 50px;
    }

    &--name {
      padding-top: 32px;
      padding-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--radio {
      padding-left: 24px;
    }

    &--contacts {
      display: flex;
      justify-content: space-between;
      padding-top: 43px;
    }

    &--places {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 24px;
      padding-left: 0;
    }
  }
}

.form__item {
  padding-bottom: 20px;

  &--radio {
    padding: 0 0 43px 60px;

    &:last-child {
      padding-bottom: 30px;
    }

    @media (min-width: $tablet-width) {
      padding: 0 0 52px 56px;
    }
  }

  &--checkbox {
    padding-top: 15px;
    padding-left: 80px;
    padding-bottom: 40px;

    &:last-child {
      padding-bottom: 37px;
    }

    @media (min-width: $tablet-width) {
      padding-left: 125px;
      padding-bottom: 47px;

      &:nth-child(even) {
        padding-left: 85px;
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 80px;
    }
  }

  &--contacts {
    padding-bottom: 12px;

    @media (min-width: $tablet-width) {
      padding-bottom: 25px;
    }
  }
}

.form__input {
  &::placeholder {
    color: $black;
  }
  width: 100%;
  background-color: $grey;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 18px 13px 14px 21px;
  outline: none;

  &--phone,
  &--email {
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    &--phone,
    &--email {
      width: 316px;
    }
  }

  &:hover {
    background-color: $grey-hover;
  }

  &:focus {
    background-color: $white;
    outline: 4px solid $grey-hover;
  }

  &:disabled {
    background-color: $grey-hover;
    opacity: 0.3;
  }
}

.form__label {
  color: $grey-controls;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;

  .form__item & {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }

  .form__item &--inline {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &--choice {
    color: $black;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
  }

  &--contacts {
    position: relative;

    @media (min-width: $desktop-width) {
      display: flex;

      &::before {
        content: "";
        position: absolute;
        right: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $grey-input;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--contacts-phone::before {
    background-image: url("../img/form/phone.svg");
  }

  &--contacts-email::before {
    background-image: url("../img/form/mail.svg");
  }
}

.form__sub-title {
  padding-right: 16px;
  padding-left: 20px;

  &--contacts {
    padding-left: 22px;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline-block;
      padding-right: 12px;
      padding-left: 0;
    }
  }
}

.form__field {
  &::placeholder {
    color: $black;
  }
  width: 100%;
  height: 160px;
  resize: none;
  border: none;
  color: $black;
  background-color: $grey;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 10px 23px 29px 21px;
  margin-bottom: 43px;
  outline: none;

  @media (min-width: $tablet-width) {
    margin: 35px 0 53px;
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    padding-top: 16px;
  }

  &:focus {
    background-color: $white;
    outline: 4px solid $grey-hover;
  }

  &:disabled {
    opacity: 0.4;
  }
}


.form__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $white;
  border: none;
  background-color: $blue;
  padding: 19px 33px 14px 32px;
  min-width: 280px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    padding-right: 34px;
  }

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $grey-disabled;
  }
}

.form__required-field {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 6px;
    padding-right: 2px;
  }
}

.form__radio + .form__label::before {
  content: "";
  position: absolute;
  left: -76px;
  top: -15px;
  width: 53px;
  height: 53px;
  background-color: $grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: -14px;
    left: -74px;
  }

  @media (min-width: $desktop-width) {
    top: -13px;
    left: -74px;
  }
}

.form__radio:checked + .form__label::after {
  content: "";
  position: absolute;
  left: -61px;
  top: 2px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $grey-controls;

  @media (min-width: $tablet-width) {
    left: -59px;
    top: 2px;
  }
}

.form__radio:hover + .form__label::before,
.form__radio:focus + .form__label::before {
  background-color: $grey-hover;
}

.form__radio:active + .form__label::before {
  background-color: $grey-active;
}

.form__radio:active + .form__label::after {
  opacity: 0.3;
}

.form__radio:disabled + .form__label {
  pointer-events: none;
  opacity: 0.3;
}

.form__checkbox + .form__label::before {
  content: "";
  position: absolute;
  left: -80px;
  top: -16px;
  width: 55px;
  height: 55px;
  background-color: $grey;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    width: 55px;
    height: 55px;
    top: -16px;
  }

  @media (min-width: $desktop-width) {
    top: -14px;
  }
}

.form__checkbox:checked + .form__label::after {
  content: "";
  position: absolute;
  left: -64px;
  top: 4px;
  width: 24px;
  height: 17px;
  background-image: url("../img/form/checkbox.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: -64px;
    top: 5px;
  }
}

.form__checkbox:hover + .form__label::before,
.form__checkbox:focus + .form__label::before {
  background-color: $grey-hover;
}

.form__checkbox:active + .form__label::before {
  background-color: $grey-active;
}

.form__checkbox:active + .form__label::after {
  opacity: 0.3;
}

.form__checkbox:disabled + .form__label {
  pointer-events: none;
  opacity: 0.3;
}
