.form {
  display: grid;
  grid-template-columns: auto;
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    &--name {
      grid-column: 2/3;
      padding-left: 58px;
    }

    &--contacts {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    &--impression {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &--places {
      grid-column: 1/3;
      grid-row: 3/4;
    }

    &--emotions {
      grid-column: 1/3;
      grid-row: 4/5;
    }

    &--btn {
      grid-column: 1/3;
      grid-row: 5/6;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.form__list {
  @include list-reset;
  text-align: start;

  @media (min-width: $tablet-width) {
    &--places {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    &--radio {
      padding-top: 50px;
      padding-right: 73px;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      display: flex;
      justify-content: space-between;
    }

    &--places {
      display: flex;
      justify-content: space-between;
    }
  }
}

.form__item {
  padding-bottom: 20px;

  & .form__label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }

  & .form__label--inline {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &--radio,
  &--checkbox {
    padding-bottom: 43px;
    padding-left: 80px;

    @media (min-width: $tablet-width) {
      padding-left: 90px;
    }
  }
}

.form__input {
  width: 100%;
  background-color: $grey;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 18px 10px 14px 22px;

  @media (min-width: $desktop-width) {
    &--phone,
    &--email {
      width: 316px;
    }
  }
}

.form__label {
  color: $grey-controls;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;

  &--choice {
    color: $black;
    font-weight: 700;
  }

  &.form__label--contacts {
    position: relative;

    &.form__label--contacts-phone,
    &.form__label--contacts-email {
      @media (min-width: $desktop-width) {
        align-items: center;
      }
    }

    @media (min-width: $desktop-width) {
      display: flex;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $grey-input;
      background-repeat: no-repeat;
      background-position: center;
    }

    &.form__label--contacts-phone::before {
      background-image: url("../img/form/phone.svg");
    }

    &.form__label--contacts-email::before {
      background-image: url("../img/form/mail.svg");
    }
  }
}

.form__sub-tittle {
  padding-right: 16px;
}

.form__field {
  width: 100%;
  height: 160px;
  resize: none;
  border: none;
  color: $black;
  background-color: $grey;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 13px 23px 29px 21px;
  margin-bottom: 51px;
}

.form__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  border: none;
  background-color: $blue;
  padding: 19px 33px 14px 32px;
}

.form__required-field {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  visibility: hidden;

  @media (min-width: $tablet-width) {
    visibility: visible;
  }
}

.form__radio + .form__label::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -10px;
  width: 48px;
  height: 48px;
  background-color: $grey;
  border-radius: 50%;
}

.form__radio:checked + .form__label::after {
  content: "";
  position: absolute;
  left: -44px;
  top: 4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: $grey-controls;
}

.form__checkbox + .form__label::before {
  content: "";
  position: absolute;
  left: -60px;
  top: -10px;
  width: 46px;
  height: 46px;
  background-color: $grey;
  border-radius: 5px;
}

.form__checkbox:checked + .form__label::after {
  content: "";
  position: absolute;
  left: -46px;
  top: 4px;
  width: 24px;
  height: 17px;
  background-image: url("../img/form/checkbox.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.form__text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form__text-short {
  display: none;

  @media (min-width: $desktop-width) {
    display: initial;
  }
}

.form__title--border {
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 123px;
      top: 10px;
      right: 0;
      background-color: $grey-border-form;
    }

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 123px;
      top: 10px;
      left: 0;
      background-color: $grey-border-form;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 280px;
      top: 10px;
      right: 0;
      background-color: $grey-border-form;
    }

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 280px;
      top: 10px;
      left: 0;
      background-color: $grey-border-form;
    }
  }
}

.form__fieldset--impression .form__title {
  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      height: 292px;
      width: 1px;
      top: 10px;
      right: 0;
      background-color: $grey-border-form;
    }
  }
}
