.form {
  display: grid;
  grid-template-columns: auto;
  padding-bottom: 30px;

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0 20px 10px;
  border: none;

  &--places,
  &--impression,
  &--contacts {
    padding-bottom: 0;
    border-bottom: 1px solid $grey-hover;
  }

  &--name {
    border-bottom: 1px solid $grey-hover;
    border-top: 1px solid $grey-hover;
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;

    &--name {
      grid-column: 2/3;
      padding-left: 108px;
    }

    &--contacts {
      grid-column: 1/3;
      grid-row: 2/3;
      padding-top: 15px;
    }

    &--impression {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &--places {
      grid-column: 1/3;
      grid-row: 3/4;
      padding-top: 10px;
    }

    &--emotions {
      grid-column: 1/3;
      grid-row: 4/5;
      padding-top: 20px;
    }

    &--btn {
      grid-column: 1/3;
      grid-row: 5/6;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      &--name {
        padding-left: 190px;
      }

      &--places {
        padding-top: 0;
      }
    }
  }
}

.form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 21px;
  }

  .form__fieldset--impression & {
    &::before {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        height: 292px;
        width: 1px;
        top: 25px;
        right: -53px;
        background-color: $grey-border-form;
      }

      @media (min-width: $desktop-width) {
        right: -114px;
      }
    }
  }

  &--impression {
    @media (min-width: $desktop-width) {
      text-align: right;
    }
  }

  &--border {
    text-align: center;
    position: relative;

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 123px;
        top: 10px;
        right: 0;
        background-color: $grey-border-form;
      }

      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 123px;
        top: 10px;
        left: 0;
        background-color: $grey-border-form;
      }
    }

    @media (min-width: $desktop-width) {
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 280px;
        top: 10px;
        right: 0;
        background-color: $grey-border-form;
      }

      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 280px;
        top: 10px;
        left: 0;
        background-color: $grey-border-form;
      }
    }
  }
}

.form__list {
  @include list-reset;
  text-align: start;

  &--name {
    padding-left: 0;
  }


  &--radio {
    text-transform: none;
    padding: 15px 0 15px 20px;
  }

  @media (min-width: $tablet-width) {
    &--places {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      padding: 28px 0 0 50px;
    }

    &--radio {
      padding-top: 50px;
    }

    &--name {
      padding-top: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
    }

    &--places {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-left: 20px;
    }
  }
}

.form__item {
  padding-bottom: 20px;

  &--radio,
  &--checkbox {
    padding: 0 0 43px 60px;

    &:last-child {
      padding-bottom: 30px;
    }
  }

  &--radio {
    @media (min-width: $tablet-width) {
      padding: 0 0 55px 55px;
    }
  }

  &--checkbox {
    padding-top: 15px;
    padding-left: 80px;

    @media (min-width: $tablet-width) {
      padding-left: 125px;

      &:nth-child(even) {
        padding-left: 90px;
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 60px;
    }
  }

  &--contacts {
    padding-bottom: 30px;
  }
}

.form__input {
  &::placeholder {
    color: $black;
  }
  width: 100%;
  background-color: $grey;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 18px 10px 14px 22px;
  outline: none;

  @media (min-width: $desktop-width) {
    &--phone,
    &--email {
      width: 316px;
    }
  }

  &:hover {
    background-color: $grey-hover;
  }

  &:focus {
    background-color: $white;
    outline: 4px solid $grey-hover;
  }
}

.form__label {
  color: $grey-controls;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;

  .form__item & {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }

  .form__item &--inline {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &--choice {
    color: $black;
    font-size: 18px;
    font-weight: 700;
    text-transform: none;
  }

  &--contacts {
    position: relative;

    @media (min-width: $desktop-width) {
      display: flex;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: $grey-input;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--contacts-phone::before {
    background-image: url("../img/form/phone.svg");
  }

  &--contacts-email::before {
    background-image: url("../img/form/mail.svg");
  }
}

.form__sub-title {
  padding-right: 16px;

  &--contacts {
    padding-left: 20px;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline-block;
    }
  }
}

.form__field {
  &::placeholder {
    color: $black;
  }
  width: 100%;
  height: 160px;
  resize: none;
  border: none;
  color: $black;
  background-color: $grey;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 13px 23px 29px 21px;
  margin-bottom: 35px;
  outline: none;

  @media (min-width: $tablet-width) {
    margin: 35px 0 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }

  &:focus {
    background-color: $white;
    outline: 4px solid $grey-hover;
  }
}


.form__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: $white;
  border: none;
  background-color: $blue;
  padding: 19px 33px 14px 32px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.form__required-field {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 6px;
  }
}

.form__radio + .form__label::before {
  content: "";
  position: absolute;
  left: -79px;
  top: -12px;
  width: 53px;
  height: 53px;
  background-color: $grey;
  border-radius: 50%;
}

.form__radio:checked + .form__label::after {
  content: "";
  position: absolute;
  left: -62px;
  top: 4px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: $grey-controls;
}

.form__radio:hover + .form__label::before,
.form__radio:focus + .form__label::before {
  background-color: $grey-hover;
}

.form__radio:active + .form__label::before {
  background-color: $grey-active;
}

.form__radio:active + .form__label::after {
  opacity: 0.3;
}

.form__checkbox + .form__label::before {
  content: "";
  position: absolute;
  left: -80px;
  top: -10px;
  width: 53px;
  height: 53px;
  background-color: $grey;
  border-radius: 5px;
}

.form__checkbox:checked + .form__label::after {
  content: "";
  position: absolute;
  left: -66px;
  top: 8px;
  width: 24px;
  height: 17px;
  background-image: url("../img/form/checkbox.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.form__checkbox:hover + .form__label::before,
.form__checkbox:hover + .form__label::after,
.form__checkbox:focus + .form__label::before,
.form__checkbox:focus + .form__label::after {
  background-color: $grey-hover;
}

.form__checkbox:active + .form__label::before {
  background-color: $grey-active;
}

.form__checkbox:active + .form__label::after {
  opacity: 0.3;
}
