.pop-up {
  display: none;
  width: auto;
  height: 280px;
  position: absolute;
  bottom: 164px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: $white;

  &--active {
    display: block;
  }

  &--fail {
    display: none;
    bottom: 489px;
  }

  @media (min-width: $tablet-width) {
    box-shadow: $shadow-popup;
    width: 650px;
    bottom: 462px;

    &--fail {
      width: 400px;
      height: 347px;
      bottom: 228px;
      z-index: 2;
    }
  }
}

.pop-up__wrapper {
  padding: 0 50px;
  padding-top: 29px;

  @media (min-width: $tablet-width) {
    padding: 29px 100px 20px;

    &--fail {
      padding: 29px 29px 20px;
    }
  }
}

.pop-up__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.pop-up__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 25px;
}

.pop-up__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $white;
  text-transform: uppercase;
  border: none;
  background-color: $blue;
  padding: 18px 79px 14px;

  &--close {
    margin-top: 14px;
    padding: 18px 76px 14px;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      padding: 18px 156px 14px;
    }
  }

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $grey-disabled;
  }
}

.pop-up__wrapper-btn {
  margin: 0 auto;
  min-width: 320px;
  background-color: $grey;
  padding: 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 30px 50px 50px;
  }
}
